@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

html {
  background: lightblue;
}
label {
  position:relative;
  left: 1.5em;
  font-weight:100;
}
#remove{
  position:relative;
  bottom: 1.5em;
  margin-bottom: -1.25em;
}
.card-list {
  background: lightblue;
  padding-top: .75em;
}
.card {
  height: 100%;
  margin: .75em auto;
}
.card-content{
  border-top: 1px solid lightblue;
}
.modal {
    display:block;
    position: fixed;
    top:16.666%;
    left:16.666%;
    width:64.333%;
    height:auto;
    z-index:999;
    background: lightgray;
    border-radius:4px;
}
.exit {
  float: right;
    color: #282828;
    margin-right:.5em;
    margin-left:auto;
    
}
.modal {
  margin:.375em;
  background: violet;
  padding:.05em 1.15em .05em; 
}
.modal a {
  color: rebeccapurple;
}
.modal-content{
   padding:.35em 1.15em .05em; 
   border-color: purple;
}
.modal-content p {
    text-align: left;
    font-family: Ubuntu Mono;
}
.btn {
  color: white;
}
.desc-btn {
  background: purple;
}
.use-case-btn {
  background: violet;
}
.example-btn {
  background: rebeccapurple;
}
.card .btn-group {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}
.btn-group, .example, h1 {
  text-align:center;
  
}
.btn-down{
  background:purple;
}

.btn-up{
    background:rebeccapurple;
}
